*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.sidebar{
    width: 200px;
    background-color: black;
}

.footer{
    height: 100px;
    width: 100vw;
    background-color: cyan;
}

.main{
    width: calc(100vw - 200px);
    background-color: yellow;

}

/*Container*/

.container-sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header{
    background-color: black;
    height: 100px;
}

.container{
    display: flex;
    height: calc(100vh - 100px);
}

.container-footer{
    
}

/*Row*/

.row-sidebar{
    display: flex;
    width: 100%;
}

.row-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 100%;
}

.row-footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.row-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Col*/

.col-sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-header{
    width: 200px;
    background-color: green;
}

.col-footer{
    width: 200px;
    background-color: blue;
}

.col-footer-large{
    width: 30vw;
    background-color: blue;
}

/*Content*/



/*Misc*/

.col-sidebar img{
    width: 130px;
}

.green-bar{
    height: 30px;
    width: 3px;
    background-color: rgb(14, 245, 14);
}

/*Utility*/

.padding-15{
    padding: 15px;
}

.padding-left-12{
    padding-left: 12px;
}

.margin-top-bottom-5{
    margin: 5px 0px 5px 0px;
}

.color-gray{
    color: rgb(185, 184, 184);
}

.color-bright-gray{
    color: rgb(243, 243, 243);
}

.flex-row{
    display: flex;
    align-items: center;
}



/*Media query*/

/*Medium*/

@media screen and (max-width: 991px) and (min-width: 768px){

}

/*Small*/

@media screen and (max-width: 767px) and (min-width: 576px){
    
}

/*Extra Small*/

@media screen and (max-width: 575px) and (min-width: 0px){
    
    .sidebar{
        width: 50px;
    }

    .main{
        width: calc(100vw - 50px);

    }

}

/*Height 350px*/

/*@media screen and {

}*/
