*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.sidebar{
    width: 200px;
    background-color: black;
}

.footer{
    height: 80px;
    width: 100vw;
    background-color: rgb(40, 40, 40);
    color: white;
}

.main{
    width: calc(100vw - 200px);
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
}

/*Container*/

.container-sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
}

.container{
    display: flex;
    height: calc(100vh - 80px);
}

/*Row*/

.row-sidebar{
    display: flex;
    width: 100%;
}

.row-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 100%;
}

.row-footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.row-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-wrap-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.row{
    display: flex;
    justify-content: flex-start;
}

/*Col*/

.col-sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-header{
    width: 200px;
}

.col-footer{
    width: 200px;
    display: flex;
    align-items: center;
}

.col-footer-large{
    width: 30vw;
    
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-playlist{
    width: calc( (100% - 70px) / 6 );
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-left{
    display: flex;
    flex-direction: column;
}

/*Misc*/

.col-sidebar img{
    width: 130px;
}

.green-bar{
    height: 30px;
    width: 3px;
    background-color: rgb(14, 245, 14);
}

.green-bar-h{
    height: 2px;
    width: 30px;
    background-color: rgb(14, 245, 14);
}

#plus{
    width: 35px;
    height: 35px;
    background-color: rgb(185, 184, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

#width-15{
    width: 15px;
}

#upgrade{
    border: 1px solid black;
    width: fit-content;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    border-color: white;
    margin-top: 20px;
}

.col-playlist img{
    max-width: 100%;
}

.footer img{
    max-width: 20%;
}

input[type=range]{
    
}

/*Utility*/

.padding-15{
    padding: 15px;
}

.padding-left-2{
    padding-left: 2px;
}

.padding-left-3{
    padding-left: 3px;
}

.padding-left-12{
    padding-left: 12px;
}

.padding-left-15{
    padding-left: 15px;
    padding-bottom: 10px;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-left-right-10{
    margin: 0px 10px 0px 10px;
}

.margin-top-bottom-5{
    margin: 5px 0px 5px 0px;
}

.margin-top-bottom-20{
    margin: 20px 0px 20px 0px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-5{
    margin: 5px;
}

.margin-10{
    margin: 10px;
}

.margin-15{
    margin: 15px;
}

.margin-20{
    margin: 20px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.color-gray{
    color: rgb(124, 124, 124);
}

.color-white{
    color: white;
}

.color-bright-gray{
    color: rgb(243, 243, 243);
}

.background-color-gray{
    background-color: rgb(124, 124, 124);
}

.font-size-10{
    font-size: 10px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-13{
    font-size: 13px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-30{
    font-size: 30px;
}

.bold{
    font-weight: bold;
}

.flex-row{
    display: flex;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.circle{
    border-radius: 50%;
    clip-path: circle();
}

.fit-content{
    width: 35px;
    text-align: center;
}

.gray-hr{
    color: rgb(124, 124, 124);
    margin: 0px 10px 10px 10px;
}

.text-left{
    text-align: left;
}

.width-90{
    width: 90%;
}

.width-50{
    width: 50%;
}

/*Media query*/

/*Medium*/

@media screen and (max-width: 991px) and (min-width: 768px){

}

/*Small*/

@media screen and (max-width: 767px) and (min-width: 576px){
    
}

/*Extra Small*/

@media screen and (max-width: 575px) and (min-width: 0px){
    
    .sidebar{
        width: 50px;
    }

    .main{
        width: calc(100vw - 50px);

    }

}

/*Height 350px*/

/*@media screen and {

}*/
