*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.sidebar{
    width: 200px;
    background-color: black;
    position: relative;
    overflow-y: hidden;
}

.footer{
    height: 80px;
    width: 100vw;
    background-color: rgb(40, 40, 40);
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 500;
}

.main{
    width: calc(100vw - 200px);
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
    padding-top: 80px;
}

/*Container*/

.container-sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
}

.container{
    display: flex;
    height: calc(100vh - 80px);
}

/*Row*/

.row-sidebar{
    display: flex;
    width: 100%;
}

.row-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 100%;
}

.row-footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.row-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-wrap-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.row{
    display: flex;
    justify-content: flex-start;
}

/*Col*/

.col-sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-header{
    width: 200px;
    margin-right: 20px;
}

.col-footer{
    width: 200px;
    display: flex;
    align-items: center;
}

.col-footer-large{
    width: 30vw;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-playlist{
    width: calc( (100% - 70px) / 6 );
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-left{
    display: flex;
    flex-direction: column;
}

/*Misc*/

#logo{
    width: 130px;
}

#logo-small{
    display: none;
}

.green-bar{
    height: 30px;
    width: 3px;
    background-color: rgb(14, 245, 14);
}

.green-bar-h{
    height: 2px;
    width: 30px;
    background-color: rgb(14, 245, 14);
}

#plus{
    width: 35px;
    height: 35px;
    background-color: rgb(185, 184, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

#width-15{
    width: 15px;
}

#upgrade{
    border: 1px solid black;
    width: fit-content;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    border-color: white;
    margin-top: 20px;
}

.col-playlist img{
    max-width: 100%;
}

.footer img{
    max-width: 20%;
}

#footer-icons{
    display: flex;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25;
    color: white;
    font-size: 400%;
    opacity: 0;
}

/*Utility*/

.padding-15{
    padding: 15px;
}

.padding-left-2{
    padding-left: 2px;
}

.padding-left-3{
    padding-left: 3px;
}

.padding-left-12{
    padding-left: 12px;
}

.padding-left-15{
    padding-left: 15px;
    padding-bottom: 10px;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-left-right-10{
    margin: 0px 10px 0px 10px;
}

.margin-top-bottom-5{
    margin: 5px 0px 5px 0px;
}

.margin-top-bottom-20{
    margin: 20px 0px 20px 0px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-5{
    margin: 5px;
}

.margin-2{
    margin: 2px;
}

.margin-10{
    margin: 10px;
}

.margin-15{
    margin: 15px;
}

.margin-20{
    margin: 20px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.color-gray{
    color: rgb(124, 124, 124);
}

.color-white{
    color: white;
}

.color-bright-gray{
    color: rgb(243, 243, 243);
}

.background-color-gray{
    background-color: rgb(124, 124, 124);
}

.background-color-black{
    background-color: black;
}

.font-size-10{
    font-size: 10px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-13{
    font-size: 13px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-30{
    font-size: 30px;
}

.bold{
    font-weight: bold;
}

.flex-row{
    display: flex;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.circle{
    border-radius: 50%;
    clip-path: circle();
}

.fit-content{
    width: 35px;
    text-align: center;
}

.gray-hr{
    color: rgb(124, 124, 124);
    margin: 0px 10px 10px 10px;
}

.text-left{
    text-align: left;
}

.width-90{
    width: 90%;
}

.width-50{
    width: 50%;
}

.absolute-bottom{
    position: absolute;
    bottom: 0;
}

.overflow-y{
    overflow-y: auto;
}

.height{
    height: 100%;
}

.relative{
    position: relative;
}

/*Hover*/

.col-playlist:hover img{
    filter: brightness(50%);
}

.col-playlist:hover .play{
    opacity: 1;
}

.color-gray:hover{
    color: white;
}

input:hover{
    accent-color: lime;
}

#upgrade:hover{
    transform: scale(1.1);
}

.play-hover:hover{
    transform: scale(1.1);
}

/*Media query*/

/*Medium*/

@media screen and (max-width: 991px) and (min-width: 768px){

    .col-playlist{
        min-width: calc( (100% - 50px) / 4 );
    }

}

/*Small*/

@media screen and (max-width: 767px) and (min-width: 576px){
    
    .col-playlist{
        min-width: calc( (100% - 30px) / 2 );
    }

    #footer-icons{
        flex-direction: column;
        align-items: center;
    }

}

/*Extra Small*/

@media screen and (max-width: 575px) and (min-width: 0px){
    
    .sidebar{
        width: 50px;
    }

    .col-playlist{
        min-width: calc( (100% - 30px) / 2 );
    }

    .main{
        width: calc(100vw - 50px);
    }
    
    .container-header{
        width: calc(100% - 50px);
    }

    .sidebar span{
        display: none;
    }

    #playlist{
        display: none;
    }

    hr{
        display: none;
    }

    #logo{
        display: none;
    }

    #logo-small{
        display: block;
    }

    .col-footer{
        width: 33%;
    }

    .col-footer-large{
        width: 33%;
    }

    .footer-left{
        flex-direction: column;
        justify-content: center;
    }

    #footer-icons{
        margin-left: 0;
        margin-top: 2px;
    }

    .input-vertical{
        transform: rotate(270deg);
        width: 50px;
    }

    #mobile-flex-end{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mobile-vertical{
        display: flex;
        flex-direction: column;
    }

    .mobile-vertical i{
        margin: 3px;
    }

    .mobile-hide{
        opacity: 0;
    }

}

/*Vertical*/

@media screen and (max-height: 630px){
    .height{
        height: 40%;
    }
}

@media screen and (max-height: 350px){
    
    .container-header{
        display: none;
    }

    .user{
        display: none;
    }

}