*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.sidebar{
    width: 200px;
    background-color: black;
}

.footer{
    height: 100px;
    width: 100vw;
    background-color: cyan;
}

.main{
    width: calc(100vw - 200px);
    background-color: yellow;

}

/*Container*/

.container-sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header{
    background-color: black;
    height: 100px;
}

.container{
    display: flex;
    height: calc(100vh - 100px);
}

/*Row*/

.row-sidebar{
    display: flex;
    width: 100%;
}

.row-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 100%;
}

.row-footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.row-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Col*/

.col-sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-header{
    width: 200px;
    background-color: green;
}

.col-footer{
    width: 200px;
    background-color: blue;
}

.col-footer-large{
    width: 30vw;
    background-color: blue;
}

/*Content*/



/*Misc*/

.col-sidebar img{
    width: 130px;
}

.green-bar{
    height: 30px;
    width: 3px;
    background-color: rgb(14, 245, 14);
}

#plus{
    width: 35px;
    height: 35px;
    background-color: rgb(185, 184, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

#width-15{
    width: 15px;
}

/*Utility*/

.padding-15{
    padding: 15px;
}

.padding-left-2{
    padding-left: 2px;
}

.padding-left-3{
    padding-left: 3px;
}

.padding-left-12{
    padding-left: 12px;
}

.padding-left-15{
    padding-left: 15px;
    padding-bottom: 10px;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-top-bottom-5{
    margin: 5px 0px 5px 0px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.color-gray{
    color: rgb(124, 124, 124);
}

.color-white{
    color: white;
}

.color-bright-gray{
    color: rgb(243, 243, 243);
}

.background-color-gray{
    background-color: rgb(124, 124, 124);
}

.font-size-12{
    font-size: 12px;
}

.font-size-13{
    font-size: 13px;
}

.font-size-20{
    font-size: 15px;
}

.font-size-30{
    font-size: 30px;
}

.bold{
    font-weight: bold;
}

.flex-row{
    display: flex;
    align-items: center;
}

.circle{
    border-radius: 50%;
    clip-path: circle();
}

.fit-content{
    width: 35px;
    text-align: center;
}

.gray-hr{
    color: rgb(124, 124, 124);
    margin: 0px 10px 10px 10px;
}

/*Media query*/

/*Medium*/

@media screen and (max-width: 991px) and (min-width: 768px){

}

/*Small*/

@media screen and (max-width: 767px) and (min-width: 576px){
    
}

/*Extra Small*/

@media screen and (max-width: 575px) and (min-width: 0px){
    
    .sidebar{
        width: 50px;
    }

    .main{
        width: calc(100vw - 50px);

    }

}

/*Height 350px*/

/*@media screen and {

}*/
